version: "3.2"
services:
  nodejs:
    build: 
      context: .
    image: amakundu/nodejs-mysql-app
    networks:
      - frontend
      - backend
    environment:
      - DB_HOST=mysqldb
      - DB_USER=development
      - DB_PASSWORD=development
      - DB_NAME=documentmanagement
      - DB_PORT=3306
    volumes:
      - ./www/:/var/www/html/
    ports:
      - "3000:3000"
    container_name: nodejs-app
    restart: unless-stopped
  mysql:
    image: mysql:5.7
    networks:
      - backend
    environment:
      - MYSQL_ROOT_PASSWORD=development
      - MYSQL_USER=development
      - MYSQL_PASSWORD=development 
    container_name: mysql-app
    restart: always
networks:
  frontend:
  backend: